@model IEnumerable<Crud_test.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<div class="container p-3">
    <div class="d-flex flex-row justify-content-between">
        <h2>Products</h2>
        <a asp-controller="User" asp-action="Logout" class="btn btn-danger">Logout</a>
    </div>
    

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

